# ---- Visual Studio ----
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache and options
.vs/
*.VisualState.xml
TestResult.xml
[Dd]ebugPS/
[Rr]eleasePS/

# Build and test output
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# ClickOnce and publish output
publish/
[Pp]ublish[Pp]rofiles/*.pubxml.user
*.publishsettings
*.azurePubxml

# ReSharper, Rider and other tools
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
*.sln.iml

# Others
*.cache
*.bak
*.dbmdl
*.dbproj.schemaview
*.jfm
node_modules/
